/* Error and Loading Messages */
.error-message {
  color: #EF4444; /* Red color */
  margin-top: 15px;
  font-size: 16px;
  background-color: #FECACA; /* Light red background */
  padding: 10px;
  border-radius: 5px;
}

.loading-message {
  color: #9CA3AF;
  margin-top: 15px;
  font-size: 16px;
}